# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# PHP
vendor/
composer.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Executáveis
*.exe
*.dll
*.so
*.dylib
